language: bash
services: docker

env:
  - VERSION=7.1 VARIANT=apache_main
  - VERSION=7.1 VARIANT=apache_xhprof
  - VERSION=7.0 VARIANT=apache_main
  - VERSION=7.0 VARIANT=apache_xhprof
  - VERSION=5.6 VARIANT=apache_main
  - VERSION=5.6 VARIANT=apache_xhprof
  
before_script:
  - env | sort
  - cd "${VERSION}"
  - cd "${VARIANT}"

script:
  - travis_retry docker build -t test_image
  - docker run -d -p 127.0.0.1:80:80 --name test_container test_image
  - docker ps | grep -q test_container
